*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  margin: auto 30px;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  gap: 30px;
  width: 100%;
  align-items: flex-start;
}

.result {
  grid-area: result;
  margin-top: 78px;
}

.content__details {
  grid-area: content__details;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
  padding-top: 1px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  display: flex;
  margin-bottom: 16px;
  position: relative;
  height: 386px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 90%;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 5px;
}

.search-form__label:has(.search-form__textfield) {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.search-form__textfield {
  appearance: none;
  background-color: inherit;
  color: inherit;
  width: 225px;
  border: none;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(input:focus-visible) {
  outline: #fff solid 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  inset: 0;
  border: #000 solid 1px;
}

.button {
  min-height: 34px;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border: 1px solid #fff;
}

.search-form__submit-button {
  min-width: 194px;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 6px;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:focus {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;
}
